.head{
    display: block;
    background-color:#FFF;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 1px #c5c3c3;
    margin: 20px  10px;
    padding: auto;
}
ul{
    display: block;
}
ul li{
    list-style: none;
}
.bt{
    font-size: 24px;
    padding: 20px  auto;
}
.text{
    font-size: 14px;
}
